In [2]:
import numpy as np

In [17]:
list_2 = [0, 1, 2, 3, 5, 6, 7, 8]

In [11]:
list_1[0][1]

2

In [9]:
list_1[0] = np.array(list_1[0])

/tmp/ipykernel_1883/1417272930.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  list_1 = np.array(list_1)

In [10]:
list_1 * 2

array([list([1, 2, 3, 1, 2, 3]), 2, 4, 6], dtype=object)

In [19]:
print([x*y for x in list_2 for y in list_1])

[0, 2, 4, 6, 10, 12, 14, 16]

In [ ]:
{x:y }

In [7]:

i = 0
while
i += 1
    for range(i:4):
    
    if brek

[[1, 2, 3], 1, 2, 3, [1, 2, 3], 1, 2, 3]